@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@200;300;400;500;700;800;900&family=Lora:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    position: relative;
    min-height: 45em;
    width: 100%;
    margin-bottom: 13%;
    overflow: hidden;
}

.navbar {
    margin: auto;
    background-image: linear-gradient(to right, rgb(66, 85, 100), rgb(172, 192, 197));
    width: 100% !important;
}

.logo {
    margin-left: 30px;
}

.navbar-toggler {
    margin-right: 30px;
}

.navbar-nav {}

.nav-link {
    color: rgb(248, 244, 244) !important;
    font-family: 'Montserrat', sans-serif;
    margin-right: 30px;
    font-weight: 700 !important;
    font-size: 13px !important;
}

.nav-link:hover {
    color: gray !important;
}

.offcanvas {
    background-color: #161515 !important;
    
    width: 30% !important;
}

.offcanvas-body {
    padding-left: 60px !important;
}


.carousel-item {
    width: 100em !important;
    margin-top: 20px;
}

.carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10; 
}

.carousel-inner {}

 .container {
      opacity: 0; 
      animation: fadeIn 3.5s ease-in-out forwards;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

.heading-font {
    font-family: 'Montserrat', sans-serif;
    text-align: left !important;
    font-weight: 900 !important;
    font-size: 120px !important;
    font-stretch: 5em !important;
    color: #bbcaba !important;
    padding-top: 200px;
}

.custom-heading {
    font-family: 'Montserrat', sans-serif;
    text-align: right !important;
    font-weight: 900 !important;
    font-size: 120px !important;
    line-height: 1.5;
    font-stretch: 5em !important;
    color: #bbcaba !important;
    padding-top: 200px;
}

#about {
    display: flex;
    min-height: 45em;
    padding: 50px;
    margin-bottom: ;
}

.line {
    color: black;
}

#middle {
  margin-bottom: -10%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('Images/picker.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.bio-header {
    text-align: center !important;
    font-family: 'Lora', serif;
    font-size: 50px !important;
    font-weight: 500 !important;
    margin-bottom: 30px !important;
    color: black !important;
}

hr.thin {
    width: 80%;
    margin: 20px auto;
}

.founder-image {
    flex: 1;
    max-width: 35%;
    margin-right: 40px;
    float: left !important;
    padding-right: 25px;
}

.name-role {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 30px;
    color: #161515;
    margin-bottom: 30px;
}

.details {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 17px;
    color: black;
    line-height: 35px;
}

#vision {
    display: flex;
    min-height: 45em;
    padding: 50px;
    margin-bottom: ;
    background-color: ;
}

.vision-header {
    text-align: center !important;
    font-family: 'Lora', serif;
    font-size: 50px !important;
    font-weight: 500 !important;
    margin-bottom: 30px !important;
    color: black !important;
}

.vision-image {
    flex: 1;
    max-width: 40%;
    margin-left: px;
    float: right !important;
    padding-left: 25px;
}

.motto {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 30px;
    color: #161515;
    margin-bottom: 30px;
}

#footer {
    background-color: #333131;
    padding: 30px;
    text-align: center;
}

.icn {
    margin: 20px 10px;
    justify-content: center;
    color: white;
}

.icn:hover {
    color: gray;
}

.name {
    padding: 20px;
}

#info {
    background-color: #FF6000;
    background-image: linear-gradient(to right, rgb(66, 85, 100), rgb(172, 192, 197));
    align-items: center;
    text-align: center;
    padding: 30px;
    color: white;
    font-family: 'Lora', serif;
}

.copy {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding: 20px;
}


@media (max-width: 1400px) {
    #title {
        margin-bottom: -1%;
    }

    #about {
        margin-bottom: -5%;
    }

    #vision {
        margin-bottom: 8%;
    }
}

@media (max-width: 1280px) {

    .carousel-item {
        width: 100% !important;
    }

    #title {
        position: relative;
        min-height: 45em;
        width: 100%;
        margin-bottom: 0;

    }

     .heading-font {
        font-family: 'Montserrat', sans-serif;
        text-align: left !important;
        font-weight: 900 !important;
        font-size: 90px !important;
        color: #bbcaba !important;
        padding-top: 100px;
    }

    .custom-heading {
        font-family: 'Montserrat', sans-serif;
        text-align: right !important;
        font-weight: 900 !important;
        font-size: 90px !important;
        color: #bbcaba !important;
        padding-top: 240px;
    }

}

@media (max-width: 1024px) {
    #title {
        position: relative;
        min-height: 45em;
        width: 100%;
        margin-bottom: -3%;
    }

    .heading-font {
        font-family: 'Montserrat', sans-serif;
        text-align: left !important;
        font-weight: 900 !important;
        font-size: 80px !important;
        font-stretch: 5em !important;
        color: #bbcaba !important;
        padding-top: 120px;
    }

    .custom-heading {
        font-family: 'Montserrat', sans-serif;
        text-align: right !important;
        font-weight: 900 !important;
        font-size: 80px !important;
        font-stretch: 5em !important;
        color: #bbcaba !important;
        padding-top: 200px;
    }

}

@media (max-width: 992px) {
    #title {
        position: relative;
        min-height: 45em;
        width: 100%;
        margin-bottom: -93px;
    }

    #about {
        display: flex;
        min-height: 45em;
        padding: 50px;
        margin-bottom: -50px;
    }

    .heading-font {
        font-size: 65px !important;
        color: #bbcaba !important;
        padding-top: 120px;
    }

    .custom-heading {
        font-size: 65px !important;
        color: #bbcaba !important;
        padding-top: 200px;
    }

}

@media (max-width: 830px) {
    #title {
        position: relative;
        min-height: 45em;
        width: 100%;
        margin-bottom: -165px;
    }

    .heading-font {
        font-size: 55px !important;
        color: #bbcaba !important;
        padding-top: 100px;
    }

    .custom-heading {
        font-size: 55px !important;
        color: #bbcaba !important;
        padding-top: 140px;
    }
}

@media (max-width: 768px) {
    .heading-font {
        font-size: 55px !important;
        color: #bbcaba !important;
        padding-top: 95px;
    }

    .custom-heading {
        font-size: 55px !important;
        color: #bbcaba !important;
        padding-top: 170px;
    }

    #title {
        position: relative;
        min-height: 45em;
        width: 100%;
        margin-bottom: -33%;
    }

}

@media (max-width: 580px) {
    .logo {
        margin-left: 5px;
        width: 140px;
    }

     .offcanvas {
        background-color: #161515 !important;   
        width: 40% !important;
    }

    .offcanvas-body {
         padding-left: 55px !important;
    }

    .nav-link {
        font-weight: 700 !important;
        font-size: 10px !important;
    }

    .heading-font {
        font-size: 40px !important;
        padding: 40px 0 0 20px;
    }

    .custom-heading {
        font-size: 40px !important;
        padding: 110px 20px 0 0;
    }

    #title {
        margin-bottom: -55%;
    }

    #about {
        margin-bottom: -15%;
    }

    .bio-header {
        font-size: 34px !important;
        margin-bottom: 15px !important;
    }

    .founder-image {
        padding-right: 0px;
    }

    .name-role {
        font-size: 20px;
        color: #161515;
        margin-bottom: 15px;
    }

    #vision {
        margin-bottom: -10%;
    }

    .vision-header {
        font-size: 34px !important;
        margin-bottom: 15px !important;
    }

    .vision-image {
        padding-left: 13px;
    }

    .motto {
        font-size: 20px;
        color: #161515;
        margin-bottom: 15px;
    }

    .details {
        font-size: 14px;
        color: black;
        line-height: 25px;
    }

    #info {
        font-size: 10px;
    }

    .name {
        padding: 5px;
    }

    .copy {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        padding: 10px;
    }
}

@media (max-width: 540px) {
    #title {
        margin-bottom: -67%;
    }

    #vision {
        margin-bottom: -2%;
    }

     .heading-font {
        font-size: 40px !important;
        padding: 70px 0 0 20px;
    }

    .custom-heading {
        font-size: 40px !important;
        padding: 110px 20px 0 0;
    }

}

@media (max-width: 437px) {
    .logo {
        margin-left: 5px;
        width: 110px;
    }

    .navbar-toggler {
        margin-right: 10px;
    }

    .offcanvas {  
        width: 40% !important;
    }

    .offcanvas-body {
         padding-left: 55px !important;
    }

    .nav-link {
        font-weight: 700 !important;
        font-size: 8px !important;
    }

    .heading-font {
        font-size: 20px !important;
        padding:80px 0 0 40px;
    }

    .custom-heading {
        font-size: 20px !important;
        padding: 80px 60px 0 0;
    }

    #title {
        position: relative;
        min-height: 45em;
        width: 100%;
        margin-bottom: -95%;
    }

    #about {
        margin-bottom: -50%;
        padding: 13px;
    }

    .bio-header {
        font-size: 27px !important;
        margin-bottom: 15px !important;
    }

    .founder-image {
        padding-right: 0px;
    }

    .name-role {
        font-size: 14px;
        color: #161515;
        margin-bottom: 15px;
    }

    #vision {
        margin-bottom: -165%;
        padding: 13px;
    }

        .vision-header {
        font-size: 27px !important;
        margin-bottom: 15px !important;
    }

    .vision-image {
        padding-left: 30px;
    }

    .motto {
        font-size: 14px;
        color: #161515;
        margin-bottom: 15px;
    }

    .details {
        font-size: 10px;
        color: black;
        line-height: 20px;
    }

    #info {
        font-size: 10px;
    }

    .name {
        padding: 5px;
    }

    .copy {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        padding: 10px;
    }
}

@media (max-width:390px) {
     #title {
        margin-bottom: -120%;
    }

    #about {
        margin-bottom: -19%;
        padding: 13px;
    }

    .offcanvas {  
        width: 50% !important;
    }

    .offcanvas-body {
         padding-left: 55px !important;
    }

    .heading-font {
        font-size: 20px !important;
        padding: 70px 0 0 40px;
    }

    .custom-heading {
        font-size: 20px !important;
        padding: 80px 60px 0 0;
    }


    .name-role {
        font-size: 16px;
        color: #161515;
        margin-bottom: 15px;
    }

    .motto {
        font-size: 16px;
        color: #161515;
        margin-bottom: 15px;
    }

    .vision-image {
        padding-left: 10px;
    }

    #vision {
        margin-bottom: -35%;
        padding: 13px;
    }

    .details {
        font-size: 12px;
        line-height: 22px;
    }
}

@media (max-width: 360px) {
    #title {
        margin-bottom: -135%;
    }

    .bio-header {
        font-size: 22px !important;
    }

    .vision-header {
        font-size: 22px !important;
    }

    .heading-font {
        font-size: 20px !important;
        padding: 70px 0 0 20px;
    }

    .custom-heading {
        font-size: 20px !important;
        padding: 50px 30px 0 0;
    } 

    #about {
        padding: 13px;
        margin-bottom: -14%;
    }

    #vision {
        padding: 13px;
        margin-bottom: -40%;
    }
}

@media (max-width: 320px) {
   #title {
        margin-bottom: -155%;
    }

    #about {
        margin-bottom: -4%;
    }

    #vision {
        margin-bottom: -30%;
    }

   .heading-font {
        font-size: 20px !important;
        padding: 70px 0 0 20px;
    }

    .custom-heading {
        font-size: 20px !important;
        padding: 50px 30px 0 0;
    } 

    .bio-header {
        font-size: 20px !important;
    }

    .vision-header {
        font-size: 20px !important;
    }
}

@media (max-width: 280px) {
    #title {
        margin-bottom: -185%;
    }

    #about {
        display: flex;
        min-height: 45em;
        padding: 13px;
        margin-bottom: -13%;
    }

   .heading-font {
        font-size: 18px !important;
        padding: 70px 0 0 20px;
    }

    .custom-heading {
        font-size: 18px !important;
        padding: 50px 30px 0 0;
    } 

    .bio-header {
        font-size: 16.5px !important;
    }

    .name-role {
        font-size: 13px;
        color: #161515;
        margin-bottom: 10px;
    }

    .details {
        font-size: 11px;
        color: black;
        line-height: 20px;
    }

    #vision {
        display: flex;
        min-height: 45em;
        padding: 13px;
        margin-bottom: -50%;
    }

    .vision-header {
        font-size: 16.5px !important;
    }

    .motto {
        font-size: 13px;
        color: #161515;
        margin-bottom: 10px;
    }

    .offcanvas {
        background-color: #161515 !important;   
        width: 40% !important;
    }

    .offcanvas-body {
         padding-left: 20px !important;
    }
}

@media (max-width: 2687px) {
    #vision {
        margin-bottom: 10%;
    }

    #title {
        overflow: visible;
    }

    .carousel-item {
    width: 100% !important;
    margin-top: 20px;
}
}














